@import url(./ibm-plex-sans.css);

@font-face {
    font-family: "Christmas Kitchen";
    src: url(./res/christmas-kitchen.ttf);
}

body {
    margin: 0;
    padding: 0;

    font-family: "IBM Plex Sans";

    background-image: linear-gradient(to right, #0c1b44, #124f94);
    background-size: cover;
    background-attachment: fixed;

    color: white;
}

main {
    margin: auto;
    width: 70%;
    min-width: 700px;
}

hgroup {
    border-bottom: 1px solid #FFF2;
}

section {
    position: relative;
    border-top: 1px solid #FFF2;
}

dt {
    font-weight: bold;
}

video {
    width: 100%;
}

figure {
    display: grid;
    margin: 32px auto;
    padding: 4px;
    width: fit-content;

    background-color: white;

    filter: drop-shadow(#0002 0 10px 10px);
    transform: rotate(3deg);
    
    img {
        width: 256px;
        height: 256px;
    }

    figcaption {
        width: 100%;
        max-width: 256px;
        height: 2lh;

        font-family: "Christmas Kitchen";
        font-size: 1.5em;

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        background-color: lightgrey;
        color: black;

        text-transform: uppercase;
    }
}

@keyframes freddy {
    from { left: 1vw; }
    to { left: -1vw; }
}

#freddy {
    position: fixed;
    width: 1vw;
    height: 1vh;
    object-fit: contain;
    
    top: 0;
    left: 1vw;

    animation-name: freddy;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 60s;
    animation-iteration-count: 1;
}
